
/*GENERAL*/
.intro-wrap, .background-wrap, .high-level, .new-tool, .research, .discovery, .double-column {
    padding: 0 2rem 3rem;
    font-family: 'proximanova-regular', helvetica, sans-serif;
    background: white;
}

.background-wrap {
	background: #F9F9FF;
}

/*HEADERS*/
.digital-intro h1, .intro-title-wrap h1, .background h1, .high-level h1, .research h1, .discovery h1, .double-column h1{
	font-size: 3rem;
	font-family: "proximanova-light", helvetica, sans-serif;
	line-height: 1rem;
	color:#454954;
	padding: 2rem 0;
}
@media (min-width: 860px) {
	.digital-intro h1, .intro-title-wrap h1, .research h1, .discovery h1, .double-column h1{
		font-size: 3.9375rem;
		line-height: 4rem;
		padding: 5rem 0 0;
		font-family: 'proximanova-bold', helvetica, sans-serif;
	}
	.intro-wrap, .background-wrap, .high-level, .new-tool, .research, .discovery, .double-column  {
    padding: 2rem 7.625rem 3rem;
}
}


/*HERO*/ 
.digital-hero {
	padding: 6rem 2rem 3rem;
}
.digital-hero-image {
	display: none;
}
.digital-hash {
    font-size: 1.625rem;
    color: #828282;
    margin-top:0.4375rem;
    font-family: "proximanova-light", helvetica, sans-serif;
}
.digital-hash li {
    margin-right: 2rem;
    position: relative;
    padding: 0.325rem 0 0.325rem 1rem;
    display: block;
    letter-spacing: 0.25px;
    line-height: 2rem;
}
.digital-hash li::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: -15px;
    background-image: url(../images/hash-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 860px) {
	.digital-hero {
		display: flex;
		padding: 2rem 7.625rem 0;
		align-items: center;
	}
	.digital-hero-image {
		display: block;
		margin: 2rem 0 0 4rem;
	}
}


/*INTRO*/

.intro-wrap {
	display: block;
}

.team-image {
	display: flex;
}


@media (min-width: 860px) {
	.intro-wrap {
    	padding: 0 7.625rem 8rem;
    	letter-spacing: 0.25px;
	}	
	.intro-wrap {
		display: flex;
		justify-content: space-between;
	}
	.intro-title-wrap > * {
		margin-bottom: 1.75rem;
	}
	.intro-title-wrap {
		width: 45%;
	}
	.intro-title-wrap h2 {
		font-size: 2.125rem;
		font-family: "proximanova-light", helvetica, sans-serif;
		line-height: 2.8125rem;
	}
	.intro-title-wrap p {
		font-family: "proximanova-light", helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1.325rem;
    line-height: 2rem;
	}
	.intro-title-wrap .hash + p {
		font-family: "proximanova-light", helvetica, sans-serif;
		position: relative;
		padding-left: 1.25rem;
	}
	.intro-title-wrap .hash + p:before {
		content:"";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0.5rem;
	    left: -20px;
	    background: url(../images/lead.svg) left top no-repeat;
	}
	.current-work {
		color: #454954;
		margin-bottom: 0;
	}
	.current-work span {
		font-weight	: 600;
	}
	.current-work p{
		font-style: italic;
		font-size: 1rem;
	}
}


/*BACKGROUND*/


.background {
	background: white;
	padding-top: 2rem;
}

.background .events {
	text-align: center;
}


.background-wrap h3 {
	font-weight: 700;
    letter-spacing: 1px;
	position: relative;
	margin-bottom: 2rem;
	text-transform: uppercase;
}
.background-wrap h3:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    left:-25px;
    background-image: url(../images/greenarrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item p {
    line-height: 2.25rem;
    margin-top: 1rem;
    font-size: 1.325rem;
    font-family: "proximanova-light", helvetica, sans-serif;
    letter-spacing: .5px;
}


.quote {
	font-family: "proximanova-sembibold", helvetica, sans-serif;
	font-style: italic;
	line-height: 1.875rem;
	width: 90%;
	margin: 0 auto;
	letter-spacing: 0.5px;
	position: relative;
}

.quote span {
	display: inline-block;
	color: #7877ED;

}


@media (min-width: 860px) {
	.background h1{
		padding-top: 2rem;
	}
	.item-wrap {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
    }

    .item-wrap .item {
    width: 30%;
    }

    .item > div {
        text-align: center;
        margin-bottom: 2rem;
    }

    .quote {
		width: 35%;
	}
	.quote:before {
		content: "";
	    position: absolute;
	    width: 57px;
	    height: 57px;
	    top: 0;
	    left: -5rem;
	    background: url(../images/quote.svg) no-repeat;
	}

}


/*HIGHLEVEL*/
.highlevel-wrap {
	display: block;
}

.high-level  h1 {
	color: #595D67;
	text-align: center;
	padding: 3.75rem 0 2.75rem;
	font-size: 2.125rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.highlevel-wrap h2 {
	font-weight: 700;
	letter-spacing: 1px;
	padding: 2rem 0;
}
.highlevel-wrap h3 {
	font-weight: 700;
	letter-spacing: 0.5px;
}
.highlevel-wrap p {
	margin-top: .625rem;
	line-height: 1.5625rem;
}
.constraints p {
	margin-bottom: 2.125rem;
	position: relative;
	font-family: "proximanova-light";
    letter-spacing: .5px;
    font-size: 1.325rem;
    line-height: 2rem;
}
.constraints p:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: -2rem;
    background: url(../images/greenlock.svg) no-repeat;
}

.challenges p {
	font-family: "proximanova-light", helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1.325rem;
    line-height: 2rem;
}
.challenges strong {
	font-family: "proximanova-regular", helvetica,sans-serif;
}
.challenges > h3, .constrains > h3 {
	margin-top: 2rem;
	position: relative;
}
.challenges h3:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: -2rem;
    background: url(../images/greencheck.svg) no-repeat;
}

@media (min-width: 860px) {
	.highlevel-wrap {
		display: flex;
		justify-content: space-around;
		padding-bottom: 4rem;
	}
	.challenges, .constraints {
		width: 40%;
	}
}


/*NEW TOOL*/


.new-tool {
	background: #1A948C;
}
.newtool-wrap {
	display: block;
}
.new-tool h1 {
	color: white;
	font-size: 2.5rem;
	letter-spacing: .5px;
	font-size: 2.5rem;
	line-height: 3.125rem;
	font-family: 'proximanova-bold', helvetica, sans-serif;
}

.new-tool p {
	color: #E4F5FF;
	font-size: 1.5625rem;
	position: relative;
	line-height: 2rem;
	font-style: italic;
}
.new-tool p:before {
	content: "";
    position: absolute;
    width: 57px;
    height: 57px;
    top: -5px;
    left: -3rem;
    background: url(../images/art-goal.svg) no-repeat;
}

@media (min-width: 860px) {
	.newtool-wrap {
		display: flex;
		justify-content: space-between;
		padding: 3.25rem 0;
	}
	.new-tool h1 {
		width: 21%;
	    display: flex;
	    align-items: center;
	}
	.new-tool h1 + div {
		width: 55%;
	}
	.new-tool p {
		margin-bottom: 2rem;
	}
	.new-tool div {
		margin-top: 2rem;
	}

}

/*RESEARCH*/ /*DISCOVERY*/ /*double-column*/ 


.research-copy p, .discovery-copy p, .double-column p, .double-column-part2-copy p, #test {
	color: #545CB9;
	font-size: 1.25rem;
	letter-spacing: .25px;
	margin-bottom: 1.875rem;
}

.context-image {
	margin: 6rem 0;
}
}

.title h1 {
	font-size: 3.9375rem;
    line-height: 4rem;
    padding: 2rem 0;
    font-weight: 700;
}

.research-copy h1 + p, .discovery-copy h1 + p, #test {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	font-style: italic;
}
.research-copy h1 + p:after {
	content: "";
    position: absolute;
    width: 57px;
    height: 57px;
    top: -5px;
    right: -5rem;
    background: url(../images/research.svg) no-repeat;
}
.discovery-copy h1 + p:after {
	content: "";
    position: absolute;
    width: 57px;
    height: 57px;
    top: -5px;
    right: -5rem;
    background: url(../images/discovery.svg) no-repeat;
}
.double-column-copy h1 + p:after {
	content: "";
    position: absolute;
    width: 57px;
    height: 57px;
    top: 4px;
    right: -5rem;
    background: url(../images/testing.svg) no-repeat;
}

.section-wrap a {
	font-weight: 600;
	color:#722BFF;
}
.research-copy h2, .discovery-copy h2, .double-column h2, .double-column-part2-copy h2 {
	font-size: 1.625rem;
	margin-bottom: 1rem;
}

.research section, .discovery section, .double-column section {
	margin-top: 1rem;
}

.double-column-copy section:nth-of-type(2) {
	margin-top: 6rem;
}
.research section p, .discovery section p, .double-column section p, .double-column-part2-copy  p, .double-column-part3-copy p{
	font-size: 1.325rem;
	line-height: 2rem;
	color: #595D67;
	font-family: "proximanova-light", helvetica, sans-serif;
	letter-spacing: .5px;
}
.double-column-part3-copy + div {
	margin-top: 2rem;
}
.double-column-part3-copy img {
	width: 33rem;
	box-shadow: 15px 24px 90px rgba(69, 73, 84, 0.15);
	transform: scale(1);
	transition: all .30s;
}
.double-column-part3-copy img:hover {
	transform: scale(1.3);
}

.goals {
	margin-top: 4rem;
}
.goals p {
	position: relative;
}
.goals p:before {
	content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -2rem;
	background: url(../images/goal-S.svg) no-repeat;
	padding-left: 2rem;
}

.feedback h3 {
	color: #7877ED;
	font-size: 1.25rem;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 1rem;
}
.double-column .feedback p {
	color: #7877ED;
	line-height: 1.875rem;
	position: relative;
	font-family: "proximanova-light";
    letter-spacing: .5px;
    font-size: 1.325rem;
    line-height: 2rem;
}
.feedback p:before {
	content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0.425rem;
    left: -1.625rem;
    background-image: url(../images/checkmark-purple.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 860px) {
	.research-wrap, .discovery-wrap, .double-column-wrap, .double-column-part2 {
		display: flex;
		padding-top: 4rem;
	}

	.double-column-wrap {
		flex-direction: column;
	}

	.research-copy, .discovery-copy, .double-column-copy, .double-column-part2-copy {
		margin-right: 4.625rem;
	}
	.double-column-copy section {
		margin-right: 4.25rem;
	}
	.double-column-copy {
		display: flex;
	}
	.research-copy h2, .discovery-copy h2, .double-column h2, .double-column-part2-copy h2, .double-column-part3-copy h2 {
		color: #454954;
		font-size: 2.125rem;
		line-height: 2.8125rem;
		letter-spacing: .25px;
		font-family: "proximanova-light", helvetica, sans-serif;
	}	
	.double-column-part3-copy h2 {
		margin-top: 4rem;
	}

	.double-column-part2-copy , .double-column-part3-copy  {
		width: 45%;
	}
	.section-wrap {
		display: flex;
		justify-content: space-between;
	}
	.section-wrap section {
		width: 45%;
	}

	
}

.research-high-level {
	background: #1A948C;
	color: white;
	padding: 4.375rem 1.625rem 3rem;
	font-family: "proximanova-regular", helvetica, sans-serif;
}
.research-highlevel-wrap {
	display: block;
}

.research-highlevel-wrap h3 {
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 2rem;
}
.research-highlevel-wrap p {
	margin-top: .625rem;
	line-height: 1.5625rem;
}
.research-constraints p {
	margin-bottom: 1rem;
	position: relative;
	font-size: 1.325rem;
    line-height: 2rem;
    color: white;
    font-family: "proximanova-light", helvetica, sans-serif;
    letter-spacing: .5px;
}
.research-challenges > p {
	margin-top: 1rem;
	position: relative;
	font-size: 1.325rem;
    line-height: 2rem;
    color: white;
    font-family: "proximanova-light", helvetica, sans-serif;
    letter-spacing: .5px;
}
.research-challenges p:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 7px;
    left: -2rem;
    background: url(../images/whitecheck.svg) no-repeat;
}

.research-challenges h2 {
	font-size:  1.9375rem;
	font-weight: 600;
	margin: 4rem 0 0 0;
	letter-spacing: 1px;
}

.research-challenges h2 + p {
	font-style: italic;
    letter-spacing: 0.5px;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.research-challenges h2 + p:before{
	background: none;
}
@media (min-width: 860px) {
	.research-highlevel-wrap {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 4rem;
	}
	.research-challenges, .research-constraints {
		width: 40%;
	}
}

