
$orange: #F2973D;
$yellow: #F2973D;
$l-green: #33BD81;
$d-green: #29A674;

$l-gray: #B7C3C7;
$d-gray: #8F9DA1;

$pink: 	#E9B2D7;

$l-red: #FC3D4D;
$d-red: #F23A3A;
$l-purple: 	#722BFF;
$d-purple: #5504C7;

$canvas: #29A674;


$az-bold: 'arazati-negra';
$az-reg: 'arazati';
$az-light: 'arazati-liviana';
$az-thin: 'arazati-clarita';




//$gradient: linear-gradient(to top, #8D6D96, #B98CAE)


$hybrid: inline-block;


