@font-face {
    font-family: 'Ropa Soft PTT';
    src: url('RopaSoftPTT-ExtraBold.eot');
    src: url('RopaSoftPTT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RopaSoftPTT-ExtraBold.woff2') format('woff2'),
        url('RopaSoftPTT-ExtraBold.woff') format('woff'),
        url('RopaSoftPTT-ExtraBold.ttf') format('truetype'),
        url('RopaSoftPTT-ExtraBold.svg#RopaSoftPTT-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

